#search-row {
    text-align: center;
}

#search-row form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo {
    max-height: 250px;
    margin: 15px;
}

#playerName {
    width: 25%;
    margin: auto;
}

#results-row {
    height: 500px;
    border-radius: 5px;
}